<header><h1 class="display-4"><%= @destination.title %></h1></header>

<p>Address: <%= @destination.address %></p>
<p>Coordinates: <%= @destination.latitude %> <%= @destination.longitude %></p>

<!-- <p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %> -->
